@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>You are now logged in! </h1>
    <h2>Welcome to your ASP .NET app</h2>
    <h2>Secured by Nexmo Verify + SendGrid Email 2FA</h2>
</div>